body {
    margin: 0;
    padding: 0;
}

.bodyContainer{
    width: 100%;
    height: 100%;
    background-color: #2874F0;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    width: 90vw;
    max-width: 55em;
    height: 90vh;
    max-height: 35em;
    border-radius: 10px;
    box-shadow: rgb(63 63 63) 1em 1em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#imagebg {
    background-color: white;
    background-image: url('https://c1.wallpaperflare.com/preview/664/919/586/laptop-programming-desktop-working.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

#detailsbg {
    padding: 3em;
    /* background-color:  #fcd365; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    text-align: start;
}

#detail {
    width: 100%;
    height: 100%;
}

.loginHeading {
    font-size: 1.5em;
    margin-bottom: 1em;
}

.inputBlock{
    display: block;
    padding: 0.5em 0em;
}

input {
    height: 2.5em;
    font-family: inherit;
    font-size: 1em;
    appearance: none;
    margin-top: 0.3em;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 3px;
    padding: .5rem .75rem;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: 16px 18px; 
    background-position: 98% 50%; 
    cursor: auto;
}

.w-full{
    width: 100%;
}

.buttonStyle {
    display: block;
    color: white;
    text-decoration: none;
    text-align: center;
    background-color: #006bb4;
    margin-top: 1em;
    border-style: solid;
    border-color: gainsboro;
    border-width: 1px;
    border-radius: 5px;
    padding: .5rem .75rem;
    transition: all 0.2s;
    font-family: 'Source Serif Pro', sans-serif;
    font-size: 1em;
    cursor: pointer;
}

.buttonStyle:hover{
    background-color: #014d80;
}

.margin1{
    margin: 2em 0 1em 0;
}

.margin2{
    margin: 1em 0 1em 0;
}

.links{
    color: #6301ff;
    text-decoration: none;
}

.links:visited{
    color: #6301ff;
}

.links:hover, .links:active{
    text-decoration: underline;
}

input {
    overflow: visible;
}


@media (max-width: 700px) {
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }

    #imagebg{
        border-bottom-left-radius: 0;
        border-top-right-radius: 10px;
    }

    #detailsbg{
        padding-top: 1em;
        padding-bottom: 1em;
    }

}