html, body{
    min-width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
}

.w-full{
    min-width: 100%;
}

.h-full{
    min-height: 100%;
}

.whitebg{
    background-color: #F9FAFB;
}

.mainContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-attachment: fixed;
    background-image: url('../../images/bg4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}


#dashboardBody{
    background-color: transparent;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 4rem 1rem 0 1rem;
    padding: 1em 0;
    width: 95%;
    max-width: 75rem;
    border-radius: 1em;
}

.header{
    display: grid;
    grid-template-columns: 1fr 4fr;
    align-items: center;
    padding-left: 1rem;
}