.addButton {
    font-size: 1rem;
    cursor: pointer;
    height: 100%;
    float: left;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.addButtonStyle{
    margin: 1.5em;
    width: 20%;
    min-width: 15em;
    background-color: #36da6d;
    float: right;
    padding: 0em 1em;
    transition: all 0.3s;
    border-radius: 10px;
    height: 4em;
}

.addButtonStyle:hover{
    background-color: cornflowerblue;
}

h2 {
    margin-block-end: 0em;
}



.MuiTableCell-root{
    border-bottom: none !important;
}

.MuiPaper-elevation4{
    box-shadow: none !important;
}

.MuiAppBar-colorPrimary{
    background-color: transparent !important;
}

.MuiTabs-flexContainer {
    font-family: 'Source Serif Pro', sans-serif;
    justify-content: space-around;
}