@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Open+Sans&family=Source+Sans+Pro:wght@300&family=Source+Serif+Pro:wght@400&family=Montserrat&display=swap');

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Serif Pro', sans-serif;
  height: 100vh;
}

#root{
  height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #d5d6d7;
}