#imagebg1{
    background-image: url('https://cdn.shopify.com/s/files/1/1520/4366/files/SATECHI_INSTAGRAM_JUL27_4_2048x2048.jpg?v=1505408930');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.container1 {
    background-color: white;
    width: 90vw;
    max-width: 55em;
    height: 90vh;
    max-height: 40em;
    border-radius: 10px;
    box-shadow: rgb(63 63 63) 1em 1em 3em;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.errInfo {
    color: red;
    font-size: 0.9rem;
    height: 1em;
}

@media (max-width: 700px) {
    .container1{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
    }
}